<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ayh">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.dashboard.OneMoreOrderActivity"></activity>
        <activity
            android:name=".ui.notifications.UserSettingActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ActionBar">

        </activity>

        <activity android:name="com.example.ayh.ui.LogIn">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.example.ayh.ui.Register"></activity>
        <activity android:name=".ui.Image"></activity>



        <activity android:name=".ui.notifications.Welfare" />
        <activity android:name=".ui.notifications.Card"></activity>
        <activity android:name=".ui.notifications.Cooperation" />
        <activity android:name=".ui.notifications.Recommend" />
        <activity android:name=".ui.notifications.Customer" />
        <activity android:name=".ui.notifications.Collection" />

        <activity android:name=".ui.home.ad1Activity"></activity>
        <activity android:name=".ui.home.FruitShopActivity" />
        <activity android:name=".ui.home.FreeSendActivity" />
        <activity android:name=".ui.home.ShoperActivity" />
        <activity android:name=".ui.home.SearchResultActivity" />
        <activity android:name=".ui.home.SearchActivity" />

    </application>

</manifest>